// bootstrap
@import '../bootstrap-5.3.7/scss/bootstrap.scss';

// fuentes
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// variables institucionales

$color-institucional-base: #03397F;
$color-institucional-secundario: #9fbeea;
$color-institucional-terciario: #213050;
$fuente-base: "Montserrat", sans-serif;

// generales

body {
    font-family: $fuente-base;
}

.text-primary {
    color: $color-institucional-base !important;
}

.bg-dark {
    background-color: $color-institucional-terciario;
}

.logo-fundacion {
    img {
        width: 233px;
    }
}
.social-links, .btn.btn-link {
    color: $white;
    text-decoration: none;
    svg {
        width: 38px;
        height: auto;
        fill: $white;
        margin-right: 1rem;
    }
    &:hover {
        text-decoration: underline;
    }
}
@media (max-width: 992px) {
    .logo-fundacion {
        img {
            width: 80%;
        }
    }
}
@media (max-width: 480px) {
    .social-links, .btn.btn-link {
        svg {
            margin-right: 0;
        }
    }
}

header, footer {
    //background-color: $color-institucional-base;
    color: $white;
    a {
        color: $color-institucional-secundario;
        &:hover {
            text-decoration: underline;
        }
    }
    .sticky-top {
        .row {
            width: 100%;
        }
    }
}
main {
    color: #03397F;
    font-size: 20px;
}
footer {
    background-color: $color-institucional-base;
    height: 85px;
}
.bajada-footer {
    font-size: 21px;
    letter-spacing: .25rem;
}
.titulo-colecta {
    font-size: 96px;
    line-height: 85px;
    border-right: 3px solid $white;
    padding-right: 2rem;
    margin-right: 2rem;
}
.fondo-azul-superior {
    background-image: url('../img/trazado-azul.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 2000px;
}
.listado-fundacion {
    padding: 0;
    li {
        list-style-type: none;
        margin-bottom: 1.5rem;
        position: relative;
        padding-left: 40px;
        &::before {
            content: '';
            position: absolute;
            background-image: url('../img/punto-lista.svg');
            height: 20px;
            width: 20px;
            left: 0;
            top: 10px;
            background-size: contain;
        }
    }
}
.bg-fucsia {
    color: $white;
    background-color: #DA0080;
}
.btn-donacion {
    text-transform: uppercase;
    color: $color-institucional-base;
    font-weight: 800;
    font-size: 41px;
    background-color: #FFE033;
    border-color: transparent;
    box-shadow: 3px 3px 9px #08555C;
    cursor: url('../img/cursor.svg'), auto;
    &:hover {
        background-color: $color-institucional-base;
    }
}