// bootstrap
@import '../bootstrap-5.3.7/scss/bootstrap.scss';

// fuentes
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// variables institucionales

$color-institucional-base: #03397F;
$color-institucional-secundario: #9fbeea;
$color-institucional-terciario: #213050;
$fuente-base: "Montserrat", sans-serif;

// generales

body {
    font-family: $fuente-base;
}

.text-primary {
    color: $color-institucional-base !important;
}

.bg-dark {
    background-color: $color-institucional-terciario;
}

.logo-fundacion {
    img {
        width: 233px;
    }
}
.social-links, .btn.btn-link {
    color: $white;
    text-decoration: none;
    svg {
        width: 38px;
        height: auto;
        fill: $white;
        margin-right: 1rem;
    }
    &:hover {
        text-decoration: underline;
    }
}
@media (max-width: 992px) {
    .logo-fundacion {
        img {
            width: 80%;
        }
    }
}
@media (max-width: 480px) {
    .social-links, .btn.btn-link {
        svg {
            margin-right: 0;
        }
    }
}

header, footer {
    //background-color: $color-institucional-base;
    color: $white;
    a {
        color: $color-institucional-secundario;
        &:hover {
            text-decoration: underline;
        }
    }
    .sticky-top {
        .row {
            width: 100%;
        }
    }
}
main {
    color: #03397F;
    font-size: 20px;
}
footer {
    background-color: $color-institucional-base;
    height: 85px;
}
.bajada-footer {
    font-size: 21px;
    letter-spacing: .25rem;
}
.titulo-colecta {
    font-size: 96px;
    line-height: 85px;
    border-right: 3px solid $white;
    padding-right: 2rem;
    margin-right: 2rem;
}
.fondo-azul-superior {
    background-image: url('../img/trazado-azul.svg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 2000px;
}
.listado-fundacion {
    padding: 0;
    li {
        list-style-type: none;
        margin-bottom: 1.5rem;
        position: relative;
        padding-left: 40px;
        &::before {
            content: '';
            position: absolute;
            background-image: url('../img/punto-lista.svg');
            height: 20px;
            width: 20px;
            left: 0;
            top: 10px;
            background-size: contain;
        }
    }
}
.bg-fucsia {
    color: $white;
    background-color: #DA0080;
}
.btn-donacion {
    text-transform: uppercase;
    color: $color-institucional-base;
    font-weight: 800;
    font-size: 41px;
    background-color: #FFE033;
    border-color: transparent;
    box-shadow: 3px 3px 9px #08555C;
    cursor: url('../img/cursor.svg'), auto;
    &:hover {
        background-color: $color-institucional-base;
    }
}
.alvaro-josefa {
    width: 805px;
    height: 898px;
    position: relative;
}
.josefa {
    position: absolute;
    right: 100px;
    top: 285px;
}
.sonrisa {
    position: absolute;
    color: $white;
    font-size: 27px;
    width: 217px;
    letter-spacing: 0.25rem;
    right: 200px;
    top: -30px;
    &::before {
        content: '';
        position: absolute;
        height: 23px;
        width: 209px;
        background-image: url('../img/subrayado.svg');
        background-size: contain;
        background-repeat: no-repeat;
        bottom: -40px;
    }
}
.dona-span {
    font-size: 17px;
}
.musica, .flor-sonrisa, .llave-de-sol {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}
.musica {
    width: 68px;
    height: 91px;
    background-image: url('../img/nota-fucsia.svg');
    top: 150px;
    right: 0;
}
.flor-sonrisa {
    width: 98px;
    height: 97px;
    background-image: url('../img/flor-sonrisa.svg');
    top: 170px;
    left: 0;
}
.llave-de-sol {
    width: 45px;
    height: 119px;
    background-image: url('../img/nota-musical.svg');
    bottom: 250px;
    right: -30px;
}
.bg-celeste{
    background-image: url('../img/trazado-celeste.svg');
    background-size: 1159px;
    background-position: bottom right;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: -1;
}
.bg-rosado {
    background-image: url('../img/trazado-fucsia.svg');
    background-size: 1537px;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: -50%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: -2;
}